@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: "Harry Potter", sans-serif;
  color: #dcf2f1;
}

body {
  text-align: center;
  background-color: #111a33;
}

button {
  background-color: rgb(32, 52, 53);
  color: white;
  padding: 7px;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
  /*transform: scale(1.1);*/
/*}

h2 {
  font-size: 20px;
}

input, select {
  background-color: #dcf2f1;
  color: #111a33;
  border-radius: 20px;
  height: 25px;
  width: 250px;
  margin: 1rem;
}

textarea {
  background-color: #dcf2f1;
  color: #111a33;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.main-container {
  display: flex;
}

#min-price, #max-price {
  width: 150px;
}

nav,
footer {
  color: #111a33;
  background-color: #a0abbc;
  padding: 2rem 5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  /*display: inline-block;*/
/*}

nav ul {
  color: #111a33;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #111a33;
}

nav ul li {
  color: #111a33;
  font-size: 22px;
  padding: 0rem 5rem;
}

.cart-icon {
  height: 100%;
  font-size: 2rem;
  position: relative;

}

.badge {
  font-size: 1.1rem;
  background-color: #111a33;
  border-radius: 0.9rem;
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 0px 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  color: #111a33;
  background-color: #f4f4f4;
  font-weight: bold;
}

table .product_img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.products {
  margin-top: 0px;
  background-color: #111a33;
  display: grid;
  grid-template-columns: auto auto auto;
}

.product {
  justify-content: center;
  align-items: center;
  background-color: #a0abbc;
  margin: 10px;
  border: 10px solid white;
  border-radius: 10px;
  height: 500px;
  width: auto;
}

.product_body h3, p {
  color: #111a33;
}

.product_img,
.cart-img {
  justify-content: center;
  align-items: center;
  height: 350px;
  object-fit: contain;
  padding: 30px;
  /* margin: 0px 50px; */
/*}

/* {
  justify-content: center;
  align-items: center;
  height: 500px;
  object-fit: contain;
  padding: 50px;
} */

/*.product:hover {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px;
}

small {
  font-family: "IFC RAILROAD", sans-serif;
  color: black;
  font-size: 15px;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}