@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Harry Potter", sans-serif;
  color: #dcf2f1;
}

body {
  text-align: center;
  background-color: #111a33;
}

nav,
footer {
  color: #111a33;
  background-color: #a0abbc;
  padding: 2rem 5rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  /*display: inline-block;*/
}

nav ul {
  color: #111a33;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #111a33;
}

nav ul li {
  color: #111a33;
  font-size: 20px;
  padding: 0rem 5rem
}

.cart-icon {
  height: 100%;
  font-size: 2rem;
  position: relative;

}

.badge {
  font-size: 1.1rem;
  background-color: #111a33;
  border-radius: 0.9rem;
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 0px 6px;
}

.home {
  color: #2d3b4f;
  padding: 50px;
  background-image: url("https://res.cloudinary.com/enas-cloud/image/upload/v1716949262/e-commerce-sda2/j1cfgrv0sqcmvpf51dyz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 1200px;
  height: 500px;
  display: inline-block;
  margin-top: 1rem;
  font-size: 33px;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5),
    2px -2px 4px rgba(0, 0, 0, 0.5),
    2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.product-container {
  display: flex;
}

button {
  background-color: rgb(32, 52, 53);
  color: white;
  padding: 7px;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
  /*transform: scale(1.1);*/
}

h2 {
  font-size: 20px;
}

input[type="checkbox"] {
  margin-left: 1rem;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

input,
select {
  background-color: #dcf2f1;
  color: #111a33;
  border-radius: 20px;
  height: 25px;
  width: 250px;
  margin: 1rem;
}

textarea {
  background-color: #dcf2f1;
  color: #111a33;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.product-container {
  display: flex;
}

#min-price,
#max-price {
  width: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  color: #111a33;
  background-color: #f4f4f4;
  font-weight: bold;
}

/* table .product_img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;

} */

.products {
  margin-top: 0px;
  background-color: #111a33;
  display: grid;
  grid-template-columns: auto auto auto;
}

.product {
  justify-content: center;
  align-items: center;
  background-color: #a0abbc;
  margin: 10px;
  border: 10px solid white;
  border-radius: 10px;
  height: 500px;
  width: 350px;
}

.product-name,
.product-price {
  color: #111a33;
}

.product_img {
  justify-content: center;
  align-items: center;
  height: 350px;
  object-fit: cover;
  /* object-fit: contain; */
  padding: 30px;
  margin: auto;
}

.product-details__img {
  margin: auto;
  margin-bottom: 20px;
  height: 500px;
  width: auto;
}

.round-img {
  height: 200px;
  width: auto;
}

.product:hover {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px;
}

small {
  font-family: "IFC RAILROAD", sans-serif;
  color: black;
  font-size: 15px;
}

.pagination button {
  background-color: #666;
  padding: 7px;
  border-radius: 20px;
  font-size: 11px;
  cursor: pointer;
}

/* admin dash-sidebar */
.admin-profile-container {
  display: flex;
  height: 500px;
  background-color: #a0abbc;
}

.admin-product-filter {
  height: 100vh;
  background-color: #a0abbc;
}

.admin-sidebar {
  width: 250px;
  background-color: #a0abbc;
  padding: 20px;
}

.admin-profile {
  margin-bottom: 20px;
}

.admin-profile h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #111a33;
}

.admin-profile p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #1a274b;
}

.admin-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-menu-item {
  margin-bottom: 10px;
  color: #333;
}

.admin-menu-item:hover {
  color: rgb(71, 107, 173);
}

.admin-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* admin categories */
.admin-container {
  display: flex;
  height: 100vh;
  background-color: #111a33;
}

.sidebar {
  width: 250px;
  background-color: #a0abbc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-container {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  margin: 30px;
}

.search-sort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-sort input[type="text"] {
  padding: 5px 10px;
  border-radius: 4px;
}

.search-sort select {
  padding: 5px 10px;
  border-radius: 4px;
}

/* Styling for the category form */
.category-form {
  margin-bottom: 20px;
}

.category-form .form-field {
  margin-bottom: 10px;
}

.category-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.category-form input[type="text"],
.category-form textarea {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.category-form .btn {
  padding: 10px 20px;
  background-color: #9acac8;
  color: #111a33;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.category-form .btn:hover {
  background-color: #dcf2f1;
}

/* Styling for tables */
.categories-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.categories-table th,
.categories-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.categories-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.categories-table tr:hover {
  background-color: #333;
}

/* cart */
.cart {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cart-items {
  width: 65%;
}

.cart-body {
  display: flex;
  justify-content: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50535b;
  margin: 20px;
  padding: 10px;
  padding-right: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-summary {
  width: 30%;
  height: 50%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #50535b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 900px) {

  header,
  footer {
    height: auto;
  }

  nav ul {
    display: flex;
  }

  #home {
    width: auto;
    height: auto;
  }

  .products {
    grid-template-columns: auto auto;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  header,
  footer {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #home {
    width: auto;
  }

  .products {
    grid-template-columns: auto;
  }
}